/* 1) Reset the root and body */
html {
  font-size: 14px;
  /* 14px base */
  line-height: 1.5;
  /* ≈21px lines */
}

body {
  font-size: 1rem;
  /* inherit 14px */
  line-height: inherit;
}

/* 2) Shrink headings */
h1 {
  font-size: 2rem;
}

/* 28px */
h2 {
  font-size: 1.75rem;
}

/* 24.5px */
h3 {
  font-size: 1.5rem;
}

/* 21px */
h4 {
  font-size: 1.25rem;
}

/* 17.5px */
h5 {
  font-size: 1rem;
}

/* 14px */
h6 {
  font-size: 0.875rem;
}

/* 12.25px */

/* 3) Override common Bootstrap elements */
.form-label,
.form-control,
.table,
.btn,
.card,
.navbar,
.modal-content,
.sidebar,
.project-dashboard {
  /* your own wrapper */
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

/* 4) Override Ant Design components (if still in play) */
.ant-typography,
.ant-btn,
.ant-input,
.ant-select-selector,
.ant-table,
.ant-card,
.ant-modal-content,
.ant-space {
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

.sidebar {
  width: 16%;
  z-index: 99
}


@media (max-width: 767px) {
  .sidebar {
    width: 50%;
    z-index: 99
  }
}



/* .dashboard-main {
  margin-left: 230px !important;
} */
.sidebar-menu-area {
  padding: 1rem 1rem;
}

/* decrease desktop display end  */

.custom-table .ant-pagination {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 15px !important;
  padding-bottom: 20px !important;
}

/* 2) Give each page item a small horizontal margin so they’re not jammed together */
.custom-table .ant-pagination-item {
  margin: 0 4px;
  /* space between each <li> */
}

/* 3) Target the <a> inside each page-number <li> to give padding and a default color */
.custom-table .ant-pagination-item a {
  display: inline-block;
  padding: 6px 11px;
  /* left/right padding for each page link */
  line-height: 24px;
  /* ensures vertical centering */
  color: #497fff;
  /* default text color (blue) */
  border-radius: 4px;
  /* round the corners a bit */
  transition: background 0.2s;
  cursor: pointer;
}

/* 4) Hover state on non-active pages: light blue background, darker text */
.custom-table .ant-pagination-item a:hover {
  background-color: rgba(73, 127, 255, 0.1);
  color: #497fff;
}

/* 5) Style the active page-number as a filled blue box with white text */
.custom-table .ant-pagination-item-active a {
  background-color: #497fff !important;
  /* your blue */
  color: #ffffff !important;
  /* white text */
  border-radius: 4px !important;
  padding: 4px 12px !important;
  /* keep same horizontal padding */
  margin-top: 3px !important;
  /* keep same horizontal padding */
}

/* 6) Remove the default border around the active <li> so it doesn’t show a grey outline */
.custom-table .ant-pagination-item-active {
  border: none !important;
}

/* 7) Style the “Prev” & “Next” arrow buttons to match the page items */
.custom-table .ant-pagination-prev .ant-pagination-item-link,
.custom-table .ant-pagination-next .ant-pagination-item-link {
  margin: 0 4px;
  /* same horizontal spacing */
  display: inline-flex;
  /* keep arrows aligned with numbers */
  align-items: center;
  justify-content: center;
  width: 32px;
  /* square box for arrow */
  height: 32px;
  border-radius: 4px;
  background-color: transparent;
  transition: background 0.2s;
}

.custom-table .ant-pagination-prev .ant-pagination-item-link:hover,
.custom-table .ant-pagination-next .ant-pagination-item-link:hover {
  background-color: rgba(73, 127, 255, 0.1);
}

/* 8) Style the ellipsis “…” so it matches size and color */
.custom-table .ant-pagination-item-ellipsis {
  margin: 0 4px;
  /* same spacing as other <li> */
  color: #333;
  /* dark grey, so it’s visible but subtle */
  font-size: 14px;
  line-height: 32px;
  /* vertically center inside the 32px height */
}

/* 9) If you want to explicitly hide the default border around all page items: */
.custom-table .ant-pagination-item,
.custom-table .ant-pagination-prev .ant-pagination-item-link,
.custom-table .ant-pagination-next .ant-pagination-item-link {
  border: none !important;
}

/* 10) Ensure disabled arrows (when on first/last page) appear “grayed out” */
.custom-table .ant-pagination-disabled .ant-pagination-item-link {
  color: #ccc;
  cursor: not-allowed;
}

.anticon svg {
  display: inline-block;
  margin-top: 10px;
}

.custom-table .ant-pagination-item,
.custom-table .ant-pagination-prev .ant-pagination-item-link,
.custom-table .ant-pagination-next .ant-pagination-item-link {
  border: none !important;
  padding-bottom: 7px !important;
}

.custom-table .ant-pagination-item,
.custom-table .ant-pagination-prev .ant-pagination-item-link,
.custom-table .ant-pagination-next .ant-pagination-item-link {
  border: none !important;
  padding-bottom: 2px !important;
}

.d-footer {
  width: 84%;
  padding: 12px 20px;
  background: #fff;
  border-top: 1px solid #e5e7eb;
}

.table-rank .child-row {
  background-color: #f8f9fa;
}

.table-rank .child-row td {
  padding-left: 40px;
}

/* new css for submit dashboard */

.submit-dash {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    /* justify-content: space-between; */
    margin-bottom: 25px;
}
.submit-dash .text-card-foreground {
    width: 19%;
    border-radius: 10px;
    padding: 10px !important;
    background: #fff;
}
.submit-dash .text-card-foreground .flex {
    display: flex;
    justify-content: space-between;
}
.submit-dash .text-card-foreground .flex .flex-1 p:nth-child(2) {
    font-size: 25px !important;
    font-weight: 700;
}
.submit-dash .text-card-foreground .flex .flex-1 .inline-flex {
    width: max-content;
    padding: 0px 4px !important;
    border-radius: 23px;
    align-items: center;
    display: flex;
    margin-left: 8px;
}
.submit-dash .text-card-foreground .flex .flex-1 .inline-flex.text-yellow-600{
    background: #ffdb0591;
}
.submit-dash .text-card-foreground .flex .flex-1 .inline-flex.text-red-600{
    background: #ffc9c9;
}
.submit-dash .text-card-foreground .flex .flex-1 .inline-flex.text-green-600{
    background: #76ffa0a1;
}
.submit-dash .text-card-foreground .flex .flex-1 .inline-flex svg {
    max-width: 20px !important;
}
.dis-flex .chart-div {
    width: 49%;
}
.start-lft {
    padding: 10px;
    background: #eff6ff;
    border-radius: 10px;
    margin-right: 12px;
}
.start-rght p {
    margin: 0;
}
.start-rght p:first-child {
    font-weight: 800;
    margin-bottom: 2px;
}
.start-lft {
    padding: 10px;
    background: #eff6ff;
    border-radius: 10px;
    margin-right: 12px;
}
.start-rght p {
    margin: 0;
}
.start-rght p:first-child {
    font-weight: 800;
    margin-bottom: 2px;
}
.start-lft svg {
    color: #1b61fc;
}
.dis-flex.per-side span {
    margin-right: 12px;
}
.dis-flex.per-side .bg-green-50 {
    background: #d7efdf;
    border-radius: 20px;
    padding: 2px 10px;
}
.dis-flex.per-side .bg-green-50 svg, .dis-flex.per-side .bg-yellow-50 svg, .inner-pltfrm .bg-yellow-50 svg, .inner-pltfrm .bg-green-50 svg, .inner-pltfrm .bg-red-50 svg, .kew-table .bg-yellow-50 svg, .kew-table .bg-green-50 svg, .kew-table .bg-red-50 svg {
    max-width: 17px;
}
.dis-flex.per-side .bg-yellow-50 {
    background: #f7f4da;
    border-radius: 20px;
    padding: 1px 0px !important;
}

.inner-pltfrm .bg-green-50 {
    background: #d7efdf;
    border-radius: 20px;
    padding: 1px 0px !important;
}
.inner-pltfrm .bg-yellow-50 {
    background: #f7f4da;
    border-radius: 20px;
    padding: 1px 0px !important;
}
.inner-pltfrm .bg-red-50 {
    background: #fef2f2;
    border-radius: 20px;
    padding: 1px 0px !important;
}
.kew-table .bg-green-50 {
    background: #d7efdf;
    border-radius: 20px;
    padding: 1px 0px !important;
    text-align: center;
}
.kew-table .bg-yellow-50 {
    background: #fff177;
    border-radius: 20px;
    padding: 1px 0px !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kew-table .bg-red-50 {
    background: #fef2f2;
    border-radius: 20px;
    padding: 2px 10px;
    text-align: center;
}
.pltform-search {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-pltfrm {
    width: 32%;
    margin-bottom: 10px;
    border: 1px solid #c5bcbc;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
}
.inner-pltfrm h4 {
    font-size: 18px !important;
    font-weight: 600;
}
.inner-pltfrm .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px !important;
}
.start-lft svg {
    color: #1b61fc;
}
.alert-sec .border {
    border-radius: 10px;
    padding: 20px !important;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.alert-sec .border .flex {
    display: flex;
}
.alert-sec .border .flex .text-gray-900 {
    font-size: 17px !IMPORTANT;
    font-weight: 600;
}
.alert-sec .border .flex p {
    margin-bottom: 5px;
}
.alert-sec .bg-red-50{
  background: #fef2f2;
}
.serp-feat .text-red-600{
  color: #fef2f2;
}
.alert-sec .bg-yellow-50{
  background: #fefce8;
}
.serp-feat .text-yellow-600, .platfor-rank .text-yellow-600{
 color: #cbc160;
}
.alert-sec .bg-blue-50, .platfor-rank .bg-blue-50{
  background: #9ac6ff;
}
.serp-feat .text-blue-600, .platfor-rank .text-blue-600{
  color: #f1a4a4;
}
.serp-feat .text-green-600, .platfor-rank .text-green-600{
  color: #26b35b;
}
.serp-feat .text-grey-600, .platfor-rank .text-grey-600{
  color: #4a5565;
}
.serp-feat .text-purple-600, .platfor-rank .text-purple-600{
  color: #6393fd;
}
.serp-feat .text-red-600, .platfor-rank .text-red-600{
  color: #ff1111;
}
.search-bar flex {
    display: flex;
}
.search-bar .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ser-input {
    width: 51%;
}
.ser-input .relative input {
    width: 100%;
    border: none !important;
    padding-left: 18px !important;
    color: #000000 !important;
}
.ser-input .relative {
    display: flex;
    align-items: center;
    background: #f3f3f5;
    padding: 4px 15px;
    border-radius: 10px;
}
.kew-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
   border: 1px solid #ccc;
    overflow: hidden;
}
.kew-table table th, .kew-table table td{
    border-bottom: 1px solid #ccc;
    padding: 13px 11px !important;
    text-align: left;
}
.kew-table table th {
    background: #e4f1ff;
}
.kew-table table th{
  font-weight: 600;
  color: #000
}
.kew-table table td{
  font-weight: 500;
  color: #000;
  font-size: 15px;
}
.kew-table table th:first-child { border-top-left-radius: 8px; }
.kew-table table th:last-child  { border-top-right-radius: 8px; }
.kew-table table tr:last-child td:first-child { border-bottom-left-radius: 8px; }
.kew-table table tr:last-child td:last-child  { border-bottom-right-radius: 8px; }
.kew-table .flex {
    display: flex;
    align-items: center;
}
.kew-table .flex .text-blue-600 {
    color: #155dfc;
}
.kew-table .flex .text-green-600 {
    color: #01a63e;
}
.kew-table .flex .text-red-600 {
    color: #e7020d;
}
.kew-table .flex .text-yellow-600 {
    color: #d38e0f;
}

.inline-flex.items-center svg {
    max-width: 20px;
}
.ser-field {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.ser-field span {
    border: 1px solid #cbc8c8;
    padding: 2px 10px;
    border-radius: 9px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
}
.ser-field span.active {
    background: #eae2e2;
}
.ser-field span:hover {
    background: #f1f1f1;
}
.kew-table h4 {
    font-size: 18px !important;
}
.text1 p:first-child {margin-bottom: 4px;font-weight: 300;}
.text1 p:last-child {
    color: #1571fd;
}
.text2 p:first-child {margin-bottom: 6px !important;font-weight: 300;}
.serp-feat button, .platfor-rank button {
    border: none !important;
    text-align: center;
    padding: 11px 18px !important;
}
.serp-feat button span, .platfor-rank button span {
    display: block;
    margin-top: 10px;
}
.serp-feat button[data-state="active"], .platfor-rank button[data-state="active"] {
    background: #eff6ff;
    border-radius: 15px;
}
.serp-col {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.serp-col .inner-card{
    width: 32%
}
.serp-col .inner-card h4 {
    font-size: 18px !important;
}
.serp-col .inner-card h3 {
    font-size: 23px !important;
    margin: 0;
}
.serp-col .inner-card .flex.mb-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-dev {
    display: flex;
    justify-content: space-between;
}

.flex-dev .flex-1 p {
    margin-bottom: 5px;
    font-weight: 700;
}

.flex-dev .flex-1 flex {
    display: flex;
}

.flex-dev .flex-1 .flex svg {
    margin-left: 10px;
}

.flex-dev .flex-1 .flex {
    display: flex;
    align-items: center;
}

.flex-dev .text-blue-600 {
    color: #155dfc;
    font-weight: 800;
}
.feat-snip {
    margin-right: 21px;
}
.tool-cop .flex.items-start {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
}
.tool-cop .bg-green-50 span {
    background: #00a63e;
    border-radius: 10px;
    padding: 2px 8px;
}
.inner-card .border-blue-200{
    background: #eff6ff;
}
.tool-cop .border-gray-200 span {
    background: #f1f1f1;
    border-radius: 10px;
    padding: 2px 8px;
}
.tool-cop .bg-green-50{
    background: #f0fdf4;
}
.inner-card h5 {
    font-size: 18px !important;
}
.feat-insight .space-y-4.mt-15 {
    margin-top: 50px !important;
}
.feat-insight .space-y-2 {
    margin-top: 16px;
    border-bottom: 1px solid grey;
    margin-bottom: 22px;
}
.feat-insight .space-y-2 .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.feat-insight .space-y-2 .flex:last-child {
    margin-bottom: 25px;
}
.feat-insight ul.space-y-2 {
    list-style: disc;
    padding-left: 20px;
}
.feat-insight ul.space-y-2 li {
    margin: 8px 0px;
}
.feat-insight ul.space-y-2 li:last-child {
    margin-bottom: 25px;
}
.feat-insight ul.space-y-2 li::marker {
  color: #155dfc;
    font-size: 20px;
}
.feat-insight .space-y-4.mt-15 p.text-sm.text-gray-600 {
    margin-top: 20px;
}
.keywrd-crd {
    display: flex;
    align-items: center;
    gap: 15px;
}
.keywrd-crd .text-card-foreground {
    flex: 1;
}
.keywrd-crd .text-card-foreground .text-3xl {
    font-size: 23px;
    font-weight: 700;
}
.keywrd-crd .text-card-foreground .text-sm {
    font-size: 14px !important;
}.keywrd-crd .text-card-foreground .rounded-full {
    display: inline-flex;
    background: #f0fdf4;
    padding: 1px 9px !important;
    border-radius: 16px;
    align-items: center;
}
.keywrd-crd .text-card-foreground .rounded-full svg {
    max-width: 14px !important;
    margin-right: 5px;
}
.keywrd-crd .text-card-foreground .rounded-full span {
    font-size: 11px;
}
.plt-rank-3 .text-card-foreground {
    width: 32%;
}
.plt-rank-3 {
    display: flex;
}
.plt-rank-3 .text-card-foreground .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px !important;
}
.plt-rank-3 .text-card-foreground .flex .text-right .text-2xl {
    color: #155dfc;
    font-weight: 700;
}
.plt-rank-3 .text-card-foreground .flex .text-right .inline-flex {
    display: inline-flex;
    text-align: center;
    padding: 0px 8px;
    border-radius: 20px;
}

.plt-rank-3 .text-card-foreground .flex .text-right .inline-flex svg {
    max-width: 16px;
}
.plt-rank-3 .text-card-foreground .flex .text-right .inline-flex.bg-yellow-50{
    background: #fefce8;
}
.plt-rank-3 .text-card-foreground .flex .text-right .inline-flex.bg-red-50{
    background: #fef2f2;
}
.plt-rank-3 .text-card-foreground h4 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
}
.plt-rank-3 .text-card-foreground .flex span.text-blue-600{
    color: #3b6cfd;
}
.plt-rank-3 .text-card-foreground .flex span {
    font-weight: 600;
}
.plt-rank-3 .border-t {
    border-top: 1px solid #e4dfdf;
}
.plt-rank-3 .border-t .flex {
    display: flex;
    margin-top: 16px;
}
.plt-rank-3 .border-t .flex span {
    border: 1px solid #e2d8d8;
    border-radius: 10px;
    padding: 1px 12px;
}
.media-search .bg-gradient-to-r, .geo-local .bg-gradient-to-r {
    background: #eff6ff;
}
.media-search .bg-gradient-to-r h2, .geo-local .bg-gradient-to-r h2 {
    font-size: 20px !important;
    margin-bottom: 20px !important;
}
.media-search .bg-gradient-to-r p,.geo-local .bg-gradient-to-r p {
    margin: 0;
    color: #000000;
}
.media-tabs {
    display: flex;
    gap: 15px !important;
}
.media-tabs .bg-card {
    width: 24%;
}
.media-tabs .bg-card .inline-flex.bg-green-50{
    background: #f0fdf4;
}
.media-tabs .bg-card .inline-flex.bg-yellow-50{
    background: #fefce8;
}
.media-tabs .bg-card .inline-flex svg{
    max-width: 16px;
}
.media-tabs .bg-card .inline-flex{
  border-radius: 16px;
  padding: 0 10px;
}
.geo-local-box .bg-card .inline-flex.bg-green-50{
    background: #f0fdf4;
}
.geo-local-box .bg-card .inline-flex.bg-yellow-50{
    background: #fefce8;
}
.geo-local-box .bg-card .inline-flex svg {
    max-width: 16px;
    margin-right: 6px;
}
.geo-local-box .bg-card .inline-flex {
    border-radius: 16px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.media-grid {
    display: flex;
    gap: 15px 1.3% !important;
    flex-wrap: wrap;
}
.media-grid .bg-card {
    width: 24%;
}
.media-grid .bg-card .p-4 {
    padding: 20px !important;
}
.media-grid .bg-card .p-4 .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media-grid .bg-card .p-4 .flex h4 {
    margin: 0;
}
.media-grid .bg-card .p-4 .flex span.ant-badge {
    border: 1px solid #e2d8d8;
    border-radius: 10px;
    padding: 1px 7px;
    font-size: 11px;
    font-weight: 700;
}
.media-grid .bg-card .p-4 .flex span.font-bold.text-blue-600 {
    font-weight: 700;
    color: #155dfc;
}
.media-grid .bg-card .p-4 .flex .inline-flex svg {
    max-width: 15px;
    height: 18px;
}
.media-grid .bg-card .p-4 .flex .inline-flex.rounded-full {
    border-radius: 30px;
    padding: 0px 7px;
}
.media-grid .bg-card .p-4 .flex .inline-flex.rounded-full.bg-green-50{
    background: #f0fdf4;
}
.media-grid .bg-card .p-4 .flex .inline-flex.rounded-full.bg-yellow-50{
    background: #fefce8;
}
.geo-local-box {
    display: flex;
    gap: 15px 1% !important;
}
.geo-local-box .bg-card {
    width: 32%;
}
.geo-local-box .bg-card .text-2xl {
    font-weight: 600;
}
.map-vis h3 {
    font-size: 20px !important;
}
.map-vis .bg-gray-100 {
    padding: 50px;
    background: #f3f4f6;
    border-radius: 20px;
    margin-top: 30px;
}
.map-vis .bg-gray-100 svg {
    width: 200px !important;
}
.grid-city {
    display: flex;
    flex-wrap: wrap;
}
.grid-city .bg-card {
    width: 49%;
}
.grid-city .bg-card .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.grid-city .bg-card .rounded-lg.flex {
    background: #dbfce7;
    padding: 15px;
    border-radius: 10px;
    margin-right: 10px;
}
.grid-city .bg-card .flex h4 {
    font-size: 20px !important;
}
.grid-city .bg-card .flex p {
    margin: 0;
}
.grid-city .bg-card .inline-flex.bg-green-50{
    background: #f0fdf4;
}
.grid-city .bg-card .inline-flex.bg-yellow-50{
    background: #fefce8;
}
.grid-city .bg-card .inline-flex.bg-red-50{
    background: #fef2f2;
}
.grid-city .bg-card .inline-flex svg {
    max-width: 16px;
    margin-right: 6px;
}
.grid-city .bg-card .inline-flex {
    border-radius: 16px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.grid-city .bg-card .flex span.ant-badge {
    border: 1px solid #e2d8d8;
    border-radius: 10px;
    padding: 1px 7px;
    font-size: 11px;
    font-weight: 700;
}
.local-key h3 {
    font-size: 20px !important;
    margin-bottom: 25px !important;
}
.local-key-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.local-key-inner .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.local-key-inner .flex .flex-1 p.font-medium {
    font-weight: 600;
}
.local-key-inner .flex .text-right .text-lg {
    color: #155dfc;
    font-weight: 700;
}
.local-key-inner .flex .text-right .inline-flex {
    border-radius: 16px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.local-key-inner .flex .text-right .inline-flex.bg-green-50{
    background: #f0fdf4;
}
.local-key-inner .flex .text-right .inline-flex.bg-yellow-50{
    background: #fefce8;
}
.local-key-inner .flex .text-right .inline-flex.bg-red-50{
    background: #fef2f2;
}
.local-key-inner .flex .text-right .inline-flex svg {
    max-width: 16px;
    margin-right: 6px;
}
.local-key-inner .flex:hover {
    background: #dbfce7
}
.map-vis .bg-gray-100 p {
    margin: 0;
}
.map-vis .bg-gray-100 svg {
    width: 80px;
    height: 80px;
}
.platform-dir .dis-flex {
    background: #f2f4f6;
    margin-bottom: 10px;
    border-radius: 10px;
}
.platform-dir .dis-flex span.ant-badge {
    background: #000;
    color: #fff;
    border-radius: 8px;
    padding: 1px 9px;
    font-size: 13px;
}
.legend .bg-green-500 {
    background: #00c950;
    padding: 0px 2px;
    width: 24px;
    height: 24px;
}
.legend .bg-green-500 svg, .legend .bg-blue-100 svg {
    max-width: 18px;
}
.legend .bg-blue-100 {
    background: #dbeafe;
    padding: 0px 2px;
    width: 24px;
    height: 24px;
}
.legend .bg-gray-100{
    background: #e5e5e6;
    padding: 10px;
    width: 24px;
    height: 24px;
}
.legend span {
    font-size: 13px !important;
}
span.ant-badge.clr-blk {
    border-radius: 6px;
    padding: 1px 8px;
}
.ai-boxes .border-l-green-500 {
    border-left-color: #00c950 !important;
    border-left-width: 3px !important;
}
.ai-boxes .border-l-red-500 {
    border-left-color: #fb2c36 !important;
    border-left-width: 3px !important;
}
.ai-boxes .border-l-purple-500 {
    border-left-color: #ad46ff !important;
    border-left-width: 3px !important;
}
.ai-boxes .border-l-orange-500 {
    border-left-color: #ff6900 !important;
    border-left-width: 3px !important;
}
span.ant-badge.clr-blk {
    border-radius: 6px;
    padding: 1px 8px;
}
.insight-card .bg-green-50, .alert-list .bg-green-50 {
    background: #f0fdf4;
    border-color: #76ffa0;
}
.insight-card .bg-red-50, .alert-list .bg-red-50 {
    background: #fef2f2;
    border-color: #ffc9c9;
}
.report-lable:hover{
    background: #eff6ff;
    border-color: #8ec5ff;
}
.insight-card .bg-purple-50, .alert-list .bg-purple-50 {
    background: #faf5ff;
    border-color: #e9d4ff;
}
.insight-card .bg-orange-50, .alert-list .bg-orange-50 {
    background: #fff7ed;
    border-color: #ffd6a7;
}
.alert-list .bg-blue-50 {
    background: #eff6ff;
    border-color: #8ec5ff;
}
.alert-list .bg-yellow-50 {
    background: #fefce8;
    border-color: #ffdf20;
}
.bg-blue-50.ai-analyse{
    background: #eff6ff;
    border-color: #bedbff !important;
}
.border-blue-200.alert-set {
    /* background: #eff6ff; */
    border-color: #bedbff !important;
}
.insight-card .text-card-foreground .flex {
    display: flex;
}
.insight-card .text-card-foreground .flex .flex-1 {
    width: 100%;
}
.insight-card span.ant-badge {
    background: #d4183d;
    color: #ddd;
    font-size: 13px;
    padding: 1px 5px;
    border-radius: 6px;
    font-weight: 600;
}
.insight-card .text-card-foreground .flex .flex-shrink-0 svg.text-green-600 {
    color: #00a63e;
}
.insight-card .text-card-foreground .flex button {
    background: #fff;
    border-radius: 6px;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
    padding: 2px 6px;
}
.insight-card .text-card-foreground .flex button svg {
    max-width: 16px;
    margin-left: 4px;
}
.insight-card .text-card-foreground .flex .flex-shrink-0 svg.text-red-600{
    color: #fbd4d5;
}
.insight-card .text-card-foreground .flex .flex-shrink-0 svg.text-purple-600 {
    color: #9810fa;
}
.insight-card .text-card-foreground .flex .flex-shrink-0 svg.text-orange-600, .alert-list .text-card-foreground.bg-red-50 .flex-shrink-0 svg {
    color: #f54900;
}
.alert-list .text-card-foreground.bg-yellow-50 .flex-shrink-0 svg{
    color: #d08700;
}
.alert-list .text-card-foreground.bg-blue-50 .flex-shrink-0 svg{
    color: #155dfc;
}
.ai-analyse svg.text-blue-600{
    color: #155dfc;
}
.insight-card .bg-green-50 ul.com-ul li::marker{
    color: #00a63e;
}
.insight-card .bg-red-50 ul.com-ul li::marker{
    color: #e7000b;
}
.insight-card .bg-purple-50 ul.com-ul li::marker{
    color: #9810fa;
}
.insight-card .bg-orange-50 ul.com-ul li::marker{
    color: #f54900;
}
.alert-filter .bg-muted.text-muted-foreground {
    background: #ececf0;
    border-radius: 14px;
    padding: 6px 8px;
}
.alert-filter .bg-muted.text-muted-foreground button {
    border-radius: 30px;
    padding: 3px 8px !important;
    display: inline-block;
    border: none !important;
    font-weight: 600;
}
.alert-filter .bg-muted.text-muted-foreground button[data-state="active"]{
    background: #fff;
}
.alert-list .flex-1 {
    width: 100%;
}
.alert-list .bg-red-50 .flex-1 span.ant-badge{
    background: #d4183d;
}

.alert-list .flex-1 span.ant-badge {
    padding: 1px 9px;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
}

.alert-but button {
    padding: 4px 5px;
    border-radius: 5px;
    background: #fff;
    margin-right: 10px;
    color: #000;
    font-weight: 500;
}

.alert-but button svg {
    max-width: 14px !important;
    margin-right: 6px;
    height: 16px;
}

.alert-set .space-y-3 label {
    display: flex;
    font-weight: 600;
    margin-bottom: 8px;
    align-items: center;
}
.alert-set .space-y-3 label input {
    height: 10px;
    width: 10px;
    border: 1px solid #767676;
}
.main-report-sec {
    display: flex;
    gap: 15px;
}
.main-report-sec .space-y-6 {
    width: 39%;
}
.main-report-sec .space-y-6:first-child {
    width: 59%;
}
.report-lable button[data-state="checked"] {
    background: #000;
}
.report-lable button[data-state="unchecked"]{
    background: #f3f3f5;
    width: 19px;
    height: 18px;
}
.report-lable button{
    color: #fff;
    padding: 0px 2px;
    height: 20px;
    width: 20px;
}
.report-lable button span svg {
    max-width: 13px;
    margin-top: -4px;
}
.main-report-sec .bg-gray-100.rounded-lg {
    background: #f3f4f6;
    padding: 90px 20px !important;
}
.main-report-sec .bg-gray-100.rounded-lg svg {
    height: 67px;
    width: 74px;
}
.main-report-sec .space-y-2 span.ant-badge {
    background: #000;
    color: #fff;
    padding: 0px 7px;
    border-radius: 4px;
}

.rpt-btns button {
    width: 100%;
    margin-bottom: 30px;
    padding: 6px 0px !important;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
}
.rpt-btns button:last-child {
    margin-bottom: 0;
}
.rpt-btns button svg, .schedule-rpt button svg {
    margin-right: 11px;
}
.rpt-btns button span {
    font-weight: 800;
}
.rpt-btns button:first-child {
    color: #fff;
    background: #000 !important;
}
.schedule-rpt button {
    width: 100%;
    margin-bottom: 30px;
    padding: 6px 0px !important;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    color: #000;
}
.report-period .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.report-period .grid button {
    width: 48%;
    padding: 5px 10px !important;
    border-radius: 7px;
    font-weight: 600;
}
.report-period .grid button svg {
    margin-right: 7px;
}
.export-format.report-period .grid button{
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px 17px !important;
}
.export-format.report-period .grid button svg.text-blue-600 {
    color: #155dfc;
}
.export-format.report-period .grid button svg.text-green-600{
    color: #00a63e;
}
.export-format.report-period .grid button svg.text-gray-600{
    color: #4a5565;
}
.report-period .grid button:hover, .export-format.report-period .grid button:hover, .rpt-btns button:hover, .schedule-rpt button:hover{
    background: #e9ebef;
}
.for-hover:hover{
    background: #f9fafb;
}

.custom-filters select.form-control {
    padding: 7px 17px;
    height: auto;
}
.custom-filters input.form-control {
    padding: 7px 17px;
    height: auto;
}
.custom-filters .col-auto {
    margin-top: 7px;
}
body {.hide-date-text {
  color: transparent;
}
.hide-date-text::-webkit-datetime-edit {
  color: transparent;
}
.hide-date-text::-webkit-calendar-picker-indicator {
  opacity: 1;
}
.fake-placeholder {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-48%);
  color: #374151;
  pointer-events: none;
  font-size: 13px;
}
}

.custom-grey-tooltip .tooltip-inner {
  background-color: #dbdbdb;   /* Tailwind gray-500 */
  color: #000 !important;
  font-size: 0.9rem;
  text-align: left;
  max-width: 220px;
  padding: 10px;
  padding-top: 0 !important;
}

.custom-grey-tooltip.bs-tooltip-top .tooltip-arrow::before,
.custom-grey-tooltip.bs-tooltip-bottom .tooltip-arrow::before,
.custom-grey-tooltip.bs-tooltip-start .tooltip-arrow::before,
.custom-grey-tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-top-color: #6b7280;
  border-bottom-color: #6b7280;
  border-left-color: #6b7280;
  border-right-color: #6b7280;
}
.chart-div {
    max-height: 378px;
    overflow-y: scroll;
}
.chart-div::-webkit-scrollbar {
  width: 6px;              /* adjust width here */
}
.chart-div::-webkit-scrollbar-track {
  background: #f1f5f9;     /* light gray */
  border-radius: 10px;
}
.chart-div::-webkit-scrollbar-thumb {
  background: #cbd5e1;     /* gray thumb */
  border-radius: 10px;
}
.chart-div::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
.kew-table span.ant-badge{
    border-radius: 8px;
    color: #fff;
    font-weight: 800;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kew-table span.ant-badge.bg-green-100{
    background: #17ae4f;
}
.kew-table span.ant-badge.bg-red-100{
    background: #e7000b;
}
.kew-table span.ant-badge.bg-yellow-100{
     background: #f5a500;
}
.inner-table-area .round-10 {
    background: #bdbdbd26;
}
.inner-table-area .round-10 p a {
    color: blue;
}
.inner-table-area .round-10 p a {
    color: blue;
}
.feature-badge {
    display: flex;
    align-items: center;
    border:1px solid grey;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 0px 6px;
    background: white;
    margin-top: 4px;
}
.feature-badge span {
    margin-left: 7px;
    font-size: 13px;
    line-height: 0;
}
.feature-badge svg {
    max-width: 16px !important;
}
.rank-url p:first-child {
    margin-bottom: 1px;
}
.custom-table .ant-table-thead > tr > th:first-child{
    vertical-align: middle;
}
.download-btns {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.download-btns button:first-child {
    margin-right: 20px;
}
.download-btns button {background: #0868a0;border-color: #0868a0 !important;}
.chart-div .text-yellow-600 svg {
    color: #f59e0b;
}
.chart-div .text-red-600 svg {
    color: #ef4444;
}
.chart-div .text-green-600 svg {
    color: #22c55e;
}
.sov-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sov-filter select#brandSelect {
    width: fit-content;
    margin-left: 20px;
}
.sov-filter span {
    font-size: 20px;
    font-weight: 600;
}
.date-data-info {
    background: #ffeb7169;
    width: max-content;
    padding: 7px 15px;
    margin-bottom: 10px;
    border-radius: 9px;
}
.date-data-info p {
    margin: 0;
    color: #ff4040 !important;
}






.bggg{
        background: #a2c6db;
}
.round-10{
  border-radius: 10px !important;
}
.pad-15{
  padding: 15px !important;
}
.pad-20{
  padding: 20px !important;
}
.mb-25{
  margin-bottom: 25px !important;
}
.fw-700{
  font-weight: 600 !important;
}
.dis-flex{
  display: flex;
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.mb-10{
  margin-bottom: 10px !important;
}
.bg-white{
  background: #fff;
}
.mt-15{
  margin-top: 15px !important;
}
.d-flex{
  display: flex;
  align-items: center;
}
.m-0{
  margin: 0 !important;
}
.font16 {
    font-size: 16px !important;
}
.font18{
    font-size: 18px !important;
}
.font20{
    font-size: 20px !important;
}
.font600{
    font-weight: 600 !important;
}
.clr-blk{
    color: #000000;
}
.bg-main{
    background: #eff6ff;
}
.margin-0{
    margin: 0 !important;
}
.width23{
 width: 23%;
}
.width48{
 width: 48%;
}
.width100{
    width: 100%;
}
.purple{
    color: #9810fa;
}
.blue{
    color: #155dfc;
}
.green{
    color: #00a63e;
}
.orange{
        color: #f54900;
}
.gap-15{
    gap: 15px !important;
}
.flex-wrap{
    flex-wrap: wrap;
}
.round-boxe{
    border-radius: 7px;
    border: 1px solid #d0d0d0;
    padding: 0px 8px;
}
.round-boxe-solid{
    border-radius: 7px;
    border: 1px solid #eceef2;
    padding: 0px 8px;
    background: #eceef2;
}
.mar-left-10{
    margin-left: 10px;
}
.mar-right-10{
    margin-right: 10px;
}
.max-w20{
    max-width: 20px;
}
.com-ul{
    padding-left: 15px;
    list-style: disc;
}
.mb-15{
    margin-bottom: 15px !important;
}